[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third-party/wxWidgets"]
	path = third-party/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
